@page
@model ReportesASPNET.Pages.Usuarios.EditModel
@{
}

<br>
<h2>Editar Usuario</h2>

@if (Model.errorMessage.Length > 0)
{
    <div class='alert alert-warning alert-dismissible fade show' role="alert">
        <strong>@Model.errorMessage</strong>
        <button tpye='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
    </div>
}

<form method="POST">

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre de Usuario</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="usuario" value="@Model.usuario.Nombre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Nombre</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="nombreUser" value="@Model.usuario.Nombre">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Apellido</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="apellidoUser" value="@Model.usuario.Apellido">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Categoria</label>
        <div class="col-sm-6">
            <select class="form-control" name="Categoria">
                @foreach (var categoria in Model.listaCategorias)
                {
                    <option value="@categoria.Id_Categoria">@categoria.Nombre</option>
                }
            </select>
        </div>
    </div>

    <div class="row mb-3">
        <label class="col-sm-3 col-form-label">Estado</label>
        <div class="col-sm-6">
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Activo" name="Estado" value="true" @(Model.usuario.Estado ? "checked" : "") />
                <label class="form-check-label" for="activo">Activo</label>
            </div>
            <div class="form-check form-check-inline">
                <input class="form-check-input" type="radio" id="Inactivo" name="Estado" value="false" @(Model.usuario.Estado ? "" : "checked") />
                <label class="form-check-label" for="inactivo">Inactivo</label>
            </div>
        </div>
    </div>

        @if (Model.successMessage.Length > 0)
        {
            <div class="row mb-3">
                <div class="col-sm-9">
                    <div class='alert alertalert-success alert-dismissible fade show' role='alert'>
                        <strong>@Model.successMessage</strong>
                        <button type='button' class='btn-close' data-bs-dismiss='alert' aria-label='Close'></button>
                    </div>
                </div>
            </div>
        }

        <div class="row mb-3">
            <div class="offset-sm-3 col-sm-3 d-grid">
                <button type="submit" class="btn btn-primary">Guardar</button>
            </div>
            <div class="col-sm-3 d-grid">
                <a class="btn btn-outline-primary" href="/Usuarios" role="button">Volver</a>
            </div>
        </div>
</form>